{{ if eq .chezmoi.os "linux" }}
# WSL/Linux: skip Windows-specific paths
AppData/**
.ssh/**
install-burnttoast.cmd
install-gh.cmd
README.md
{{ end }}
{{ if eq .chezmoi.os "windows" }}
# Windows: skip Linux-specific paths
.bashrc
install-gh.sh
install-devcontainer.sh
{{ end }}
